*.jar
*.gradle
*.zip
*.bat
*.html
*.burp
*.ovpn
*.backup
debugging
exercises
*.txt
*.tgz
*.b64
*.swp
*.hex
*.json
*.pyc
*.java
*.MF
*.dit
*.ntds*
Sys
*.vbs
*.exe
*.der
*.ser
*.class
*.bin
*.xml
temp
mnt
/opencrx/opencrx
/opencrx/*.ear
/opencrx/*.class
crx.*
runtime.*
/opencrx/hsqldb
/openitcockpit/js-libraries
*.key
*.pem
*.crt
/openitcockpit/exploit/content
*.dll